/*h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}*/
body{
    background-image: url("A.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;
}