body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #003366;
    padding: 0 20px;
    height: 50px;
    line-height: 50px; /* vertical centering text */
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-item {
    color: #00eeff;
    margin: 0 10px;
}

.main-container {
    padding: 20px;
    min-height: calc(100vh - 50px);
    min-height: 200vh;
    margin-top: 70px;
}

.nav-button {
    background-color: cyan;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 20px;
}

.image-div {
    background-image: url("B.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container h1 {
    color: rgb(0, 255, 247);
}

.main-container p {
    color: rgb(0, 207, 138);
}

.scrollable-file {
    background-color: rgba(255, 0, 0, 0.248);
    color: #ff7272;
    padding: 10px;
    margin-top: 500px;
    height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
